/.git/
/.gitignore
/.bundle
/.env*
/config/master.key
/config/credentials/*.key
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
node_modules
/public/assets
/public/vite
/public/vite-ssr
/public/vite-dev
/public/vite-test
/.github
/.kamal
/.dockerignore
/Dockerfile*
/output
/.bridgetown-cache
