---
layout: default
---

<h1
  class="block px-12 font-bold leading-[0.8em] py-6 tracking-[-7px] text-white text-9xl bg-gradient-to-r from-blue-400 via-amber-500 to-green-200 rounded-tl-xl rounded-tr-[100px] "
>
  Kieran Klaassen*
</h1>


<section class="flex flex-wrap bg-green-200 border-b-[50px] border-green-700 border-solid">
  <% 405.times do  %>
    <div class="w-32 h-32 <%= ["bg-green-50","bg-green-100","bg-green-200", "bg-green-300", "bg-green-400"].sample %>"></div>
  <% end %>
</section>

<%= content %>