---
layout: default
---

<h1
  class="inline-block px-3 font-bold leading-tight tracking-tighter text-white  text-9xl bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500"
>
  Kieran Klaassen
</h1>

<h2>
  <!-- intro about me -->
  <span class=""> About me </span>
</h2>

{{ content }}
