---
layout: default
---
<div class="overflow-hidden px-8 py-16 mx-auto bg-clip-padding bg-white bg-opacity-60 backdrop-filter backdrop-blur-3xl prose prose-xl mt-1b max-w-7b md:ml-1b">
  <h1 class="leading-[0.8em] tracking-[-2px]"><%= data.title %></h1>
  <%= yield %>
</div>
