<section class="flex flex-col lg:flex-row h-2b">
  <a href="/" class="no-underline" alt="Go home - but not before you discover the easter egg!">
    <h1 class="h-1b mx-auto lg:mx-1b w-full lg:w-4b font-bold leading-[0.8em] py-4 lg:py-6 tracking-[-4px] lg:tracking-[-7px] text-5xl lg:text-8xl opacity-80 text-center lg:text-left">
      Kieran Klaassen
    </h1>
  </a>
  <div class="flex flex-col lg:flex-row items-center lg:items-start justify-center lg:justify-between w-full lg:w-auto">
    <p class="p-4 text-base lg:text-lg leading-relaxed mt-2 lg:mt-1b min-h-1b max-w-full lg:max-w-4b text-center lg:text-left">
      I'm <span class="font-bold">Kieran</span>, a <span class="font-bold">creator</span> and <span class="font-bold">engineer</span>, <span class="font-bold">composer</span> and <span class="font-bold">baker</span>. I <span class="font-bold">craft</span> with love, creating <span class="font-bold">code</span> to <span class="font-bold">croissants</span>. My journey is one of <span class="font-bold">curiosity</span> and <span class="font-bold">discovery</span>, guided by a simple vision: to <span class="font-bold">inspire</span> and be <span class="font-bold">true</span> to myself.
    </p>
  </div>
</section>
