<section class="relative max-w-6xl gap-20 md:flex">
  <h1
      class="ml-1b font-bold leading-[0.8em] py-6 tracking-[-7px] text-9xl opacity-80 col-span-4"
    >
    Kieran Klaassen
  </h1>
  <%# <img src="https://res.cloudinary.com/dhcx3vzmg/image/upload/v1632018231/otwqabexpkfwfg5js2jy.png" alt="UX noodle" class="absolute w-40 top-8 right-16"> %>
  <p class="text-xl leading-relaxed mt-1b min-h-1b">
    I'm Kieran, a creator and engineer, composer and baker. I craft with love, creating code to croissants. My journey is one of curiosity and discovery, guided by a simple vision: to inspire and be true to myself.
  </p>
</section>
