<section class="relative max-w-xl">
  <h1
      class=" font-bold leading-[0.8em] py-6 tracking-[-7px] text-9xl opacity-80"
    >
    Kieran Klaassen
  </h1>
  <%# <img src="https://res.cloudinary.com/dhcx3vzmg/image/upload/v1632018231/otwqabexpkfwfg5js2jy.png" alt="UX noodle" class="absolute w-40 top-8 right-16"> %>
  <p class="px-12 mt-4 text-lg leading-relaxed">
    I’m a founder, engineering leader, composer and advisor living in Chicago. This is my personal site where I write about my work, life and interests.
  </p>
</section>
