<section class="flex h-2b">
  <a href="/" class="no-underline" alt="Go home - but not before you discover the easter egg!">
    <h1
        class="mx-1b w-4b font-bold leading-[0.8em] py-6 tracking-[-7px] text-9xl opacity-80"
      >
      Kieran Klaassen
    </h1>
  </a>
  <%# <img src="https://res.cloudinary.com/dhcx3vzmg/image/upload/v1632018231/otwqabexpkfwfg5js2jy.png" alt="UX noodle" class="absolute top-8 right-16 w-40"> %>
  <p class="p-4 text-xl leading-relaxed mt-1b min-h-1b max-w-5b">
    I'm <span class="font-bold">Kieran</span>, a <span class="font-bold">creator</span> and <span class="font-bold">engineer</span>, <span class="font-bold">composer</span> and <span class="font-bold">baker</span>. I <span class="font-bold">craft</span> with love, creating <span class="font-bold">code</span> to <span class="font-bold">croissants</span>. My journey is one of <span class="font-bold">curiosity</span> and <span class="font-bold">discovery</span>, guided by a simple vision: to <span class="font-bold">inspire</span> and be <span class="font-bold">true</span> to myself.
  </p>
</section>
